*{
  /* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Cinzel', serif; */
/* font-family: 'Cinzel', serif; */
  font-family: 'Special Elite', cursive;
}
#PageHeader{
  text-align:center;
  padding: 4rem 0;
  font-size: 50px;
  text-shadow: 2px 2px 6px white;
  border-bottom: 6px solid black;
  /* background: linear-gradient(0deg, rgba(27,53,124,1) 35%, rgba(73,104,166,1) 100%); */
  background-color: #8a5f41;
}
#PoemSection{
  background-color: #fff4e4;
  margin:-3rem;

}
#PoemContainer{
  background-color: #90D0D6;
  /* height:45vh; */
  width:100%;
  margin-top: 3rem;
  padding: 3rem;
  border-left:2px solid black;
  border-radius: 25px;
}
#PoemTitle{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#Poem{
  /* padding:0 10rem  */
  text-align: center;
}
#PoemDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
#Randomizer{
  margin-top:2rem;
  text-align: center;
  background-color: #8A5F41;
  text-shadow: 2px 2px 4px white;
  box-shadow: 2px 2px 3px black;
  border:none;
  color:black;
}
#Randomizer:hover{
  background-color:rgba(184, 115, 73, 0.721);
  transition: 500ms ease-out;
  box-shadow:none;
}

#AuthorDiv{
  display: flex;
  ;
}
#AuthorDiv p{
  margin:.5rem
}
#ButtonDiv{
  text-align: center;
  margin-top: 3rem;
}

